<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Demo</title>
    <style>
        body {
            width: 80%;
            margin: 50px auto;
        }
    </style>
</head>
<body>
    <div ng-controller="DemoController as demo">
        <div>
            <button href="" ng-click="demo.get()">GET</button>
            <button href="" ng-click="demo.post()">POST with wrap</button>
            <button href="" ng-click="demo.postForm()">Post form</button>
        </div>
        <hr>
        <div>
            <form ng-submit="demo.login()">
                <span>Login:</span>
                <input type="text" ng-model="demo.form.username" placeholder="username" required>
                <input type="text" ng-model="demo.form.password" placeholder="password" required>
                <button>Login</button>
            </form>
            <hr>
            <button ng-click="demo.logout()">Logout</button>
            <button ng-click="demo.getUserInfo()">User info</button>
        </div>
        <hr>
        <div>
            <span>Dicts:</span>
            <button ng-click="demo.getDictByName()">by name</button>
            <button ng-click="demo.getDictByEnumName()">by enum</button>
        </div>
        <hr>
        <div>Response data:</div>
        <!-- <pre>{{ demo.response | json }}</pre> -->
        <hr>

    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.1.22/require.min.js" data-main="demo/demo"></script>
</body>
</html>
